@page "/"
@using Csla.Rules
@using Csla.Blazor
@using KPSL.Collacteral.Shared
<h1>Hello, world!</h1>

Welcome to your new app.

<p>
  <div>Username: @Csla.ApplicationContext.User.Identity.Name</div>
  <div>IsAuthenticated: @Csla.ApplicationContext.User.Identity.IsAuthenticated</div>
</p>

<div>(@Csla.ApplicationContext.User.GetType().FullName)</div>
<div>(@Csla.ApplicationContext.User.Identity.GetType().FullName)</div>
<p>
  <AuthorizeView Roles="supervisor">
    <Authorized>
       <p>I am supervisor</p>
      User authorized
      <div>in role: @Csla.ApplicationContext.User.IsInRole("supervisor")</div>
    </Authorized>
    <NotAuthorized>
      User NOT authorized
    </NotAuthorized>
  </AuthorizeView>
</p>
<p>
  <AuthorizeView Roles="admin">
    <Authorized>
       <p>I am admin</p>
      User authorized
      <div>in role: @Csla.ApplicationContext.User.IsInRole("admin")</div>
    </Authorized>
    <NotAuthorized>
      User NOT authorized
    </NotAuthorized>
  </AuthorizeView>
</p>
<p>
  <AuthorizeView Roles="manager">
    <Authorized>
       <p>I am manager</p>
      User authorized
      <div>in role personcreator: @Csla.ApplicationContext.User.IsInRole("manager")</div>
    </Authorized>
    <NotAuthorized>
      User NOT authorized
    </NotAuthorized>
  </AuthorizeView>
</p>

<p>
  <AuthorizeView Roles="sunny">
    <Authorized>
      User can create a person object  huhuhu
    </Authorized>
    <NotAuthorized>
      User can NOT create a person object
    </NotAuthorized>
  </AuthorizeView>
</p>

